exec_238_resolved.json
{
  "version": 1,
  "startData": {},
  "resultData": {
    "error": {
      "level": "warning",
      "tags": {},
      "description": "Failed query: INSERT INTO ai_errors (workflow_id, node_name, property_id, tenant_id, error_message, payload) VALUES ('rqxDLuVBtw4fTaEw', 'SEO Generation', '', '', 'The service was not able to process your request', '');",
      "timestamp": 1771987961826,
      "context": {},
      "functionality": "regular",
      "name": "NodeOperationError",
      "node": {
        "parameters": {
          "resource": "database",
          "operation": "executeQuery",
          "query": "=INSERT INTO ai_errors (workflow_id, node_name, property_id, tenant_id, error_message, payload) VALUES ('{{$workflow.id}}', '{{$json.execution.error.node.name}}', '{{$json.execution.data.resultData.runData[$json.execution.error.node.name][0].data.main[0][0].json.id}}', '{{$json.execution.data.resultData.runData[$json.execution.error.node.name][0].data.main[0][0].json.tenant_id}}', '{{$json.execution.error.message.replace(\"'\", \"''\")}}', '{{JSON.stringify($json.execution.data.resultData).replace(\"'\", \"''\")}}');",
          "options": {}
        },
        "id": "7f8e9d0a-1b2c-3d4e-5f6g-7h8i9j0k1l2m",
        "name": "Log to PG",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.2,
        "position": [
          620,
          300
        ],
        "credentials": {
          "postgres": {
            "id": "UiVjly5vgM3yn3AG",
            "name": "Postgres account"
          }
        }
      },
      "messages": [],
      "message": "invalid input syntax for type uuid: \"\"",
      "stack": "NodeOperationError: invalid input syntax for type uuid: \"\"\n    at parsePostgresError (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/helpers/utils.ts:123:9)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/helpers/utils.ts:267:19\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/actions/database/executeQuery.operation.ts:149:9)\n    at ExecuteContext.router (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/actions/router.ts:41:17)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/PostgresV2.node.ts:26:10)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1659:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2302:11"
    },
    "runData": {
      "Error Trigger": [
        {
          "startTime": 1771987961808,
          "executionIndex": 0,
          "source": [],
          "hints": [],
          "executionTime": 1,
          "metadata": {
            "parentExecution": {
              "executionId": "237",
              "workflowId": "lW5mGPOkiPI7jHXs",
              "executionContext": {
                "version": 1,
                "establishedAt": 1771987959106,
                "source": "trigger",
                "triggerNode": {
                  "name": "Schedule Trigger",
                  "type": "n8n-nodes-base.scheduleTrigger"
                }
              }
            }
          },
          "executionStatus": "success",
          "data": {
            "main": [
              [
                {
                  "json": {
                    "execution": {
                      "id": "<<LOOP: 28>>",
                      "url": "http://localhost:5678/workflow/lW5mGPOkiPI7jHXs/executions/237",
                      "error": {
                        "level": "<<LOOP: 13>>",
                        "tags": {},
                        "description": "Error: predictionsServices.buildChatflow - Missing value for input variable `title`\n\nTroubleshooting URL: https://js.langchain.com/docs/troubleshooting/errors/INVALID_PROMPT_INPUT/\n",
                        "timestamp": 1771987961689,
                        "context": {
                          "itemIndex": 0,
                          "request": {
                            "body": {
                              "question": "generate seo",
                              "overrideConfig": {
                                "title": "Test Luxury Villa",
                                "location": "St. James",
                                "bedrooms": 4,
                                "bathrooms": 3,
                                "price": "1200000.00",
                                "amenities": ""
                              }
                            },
                            "headers": {
                              "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7"
                            },
                            "method": "POST",
                            "uri": "http://flowise:3000/api/v1/prediction/3e641813-69b3-4e80-9b6d-51de4e396e58",
                            "gzip": true,
                            "rejectUnauthorized": true,
                            "followRedirect": true,
                            "resolveWithFullResponse": true,
                            "sendCredentialsOnCrossOriginRedirect": true,
                            "followAllRedirects": true,
                            "timeout": 300000,
                            "encoding": null,
                            "json": false,
                            "useStream": true
                          }
                        },
                        "functionality": "<<LOOP: 17>>",
                        "name": "NodeApiError",
                        "node": {
                          "parameters": {
                            "curlImport": "<<LOOP: 103>>",
                            "method": "<<LOOP: 101>>",
                            "url": "<<LOOP: 102>>",
                            "authentication": "none",
                            "provideSslCertificates": false,
                            "sendQuery": false,
                            "sendHeaders": false,
                            "sendBody": true,
                            "contentType": "json",
                            "specifyBody": "<<LOOP: 105>>",
                            "jsonBody": "={\n  \"question\": \"generate seo\",\n  \"overrideConfig\": {\n    \"title\": \"{{ $json.title }}\",\n    \"location\": \"{{ $json.parish }}\",\n    \"bedrooms\": {{ $json.bedrooms }},\n    \"bathrooms\": {{ $json.bathrooms }},\n    \"price\": \"{{ $json.price }}\",\n    \"amenities\": \"{{ $json.amenities_text }}\"\n  }\n}",
                            "options": {},
                            "infoMessage": "<<LOOP: 103>>"
                          },
                          "id": {
                            "contextData": {},
                            "nodeExecutionStack": [
                              {
                                "node": {
                                  "parameters": {
                                    "resource": "<<LOOP: 41>>",
                                    "operation": "<<LOOP: 42>>",
                                    "query": "<<LOOP: 43>>",
                                    "options": {}
                                  },
                                  "id": "<<LOOP: 30>>",
                                  "name": "<<LOOP: 6>>",
                                  "type": "<<LOOP: 31>>",
                                  "typeVersion": 2.2,
                                  "position": [
                                    620,
                                    300
                                  ],
                                  "credentials": {
                                    "postgres": {
                                      "id": "<<LOOP: 58>>",
                                      "name": "<<LOOP: 59>>"
                                    }
                                  }
                                },
                                "data": {
                                  "main": [
                                    [
                                      {
                                        "json": "<<LOOP: 73>>",
                                        "pairedItem": {
                                          "item": 0
                                        }
                                      }
                                    ]
                                  ]
                                },
                                "source": {
                                  "main": [
                                    {
                                      "previousNode": "Error Trigger",
                                      "previousNodeOutput": 0,
                                      "previousNodeRun": 0
                                    }
                                  ]
                                }
                              }
                            ],
                            "metadata": {},
                            "waitingExecution": {},
                            "waitingExecutionSource": {},
                            "runtimeData": {
                              "version": 1,
                              "establishedAt": 1771987961808,
                              "source": "error",
                              "triggerNode": {
                                "name": "<<LOOP: 39>>",
                                "type": "n8n-nodes-base.errorTrigger"
                              },
                              "parentExecutionId": "<<LOOP: 28>>"
                            }
                          },
                          "name": "SEO Generation",
                          "type": "n8n-nodes-base.httpRequest",
                          "typeVersion": 4.1,
                          "position": [
                            640,
                            300
                          ],
                          "retryOnFail": true,
                          "maxRetries": 3,
                          "waitBetweenRetries": 5000
                        },
                        "messages": [
                          "500 - \"{\\\"statusCode\\\":500,\\\"success\\\":false,\\\"message\\\":\\\"Error: predictionsServices.buildChatflow - Missing value for input variable `title`\\\\n\\\\nTroubleshooting URL: https://js.langchain.com/docs/troubleshooting/errors/INVALID_PROMPT_INPUT/\\\\n\\\",\\\"stack\\\":{}}\""
                        ],
                        "httpCode": "500",
                        "message": "The service was not able to process your request",
                        "stack": "NodeApiError: The service was not able to process your request\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:864:16)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1659:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2302:11"
                      },
                      "lastNodeExecuted": "<<LOOP: 82>>",
                      "mode": "<<LOOP: 70>>",
                      "executionContext": "<<LOOP: 67>>"
                    },
                    "workflow": {
                      "id": "<<LOOP: 66>>",
                      "name": "Next Home - Property AI Processor"
                    }
                  },
                  "pairedItem": {
                    "item": 0
                  }
                }
              ]
            ]
          }
        }
      ],
      "Log to PG": [
        {
          "startTime": 1771987961810,
          "executionIndex": 1,
          "source": "<<LOOP: 51>>",
          "hints": [],
          "executionTime": 18,
          "executionStatus": "<<LOOP: 26>>",
          "error": {
            "level": "<<LOOP: 13>>",
            "tags": "<<LOOP: 14>>",
            "description": "<<LOOP: 15>>",
            "timestamp": 1771987961826,
            "context": "<<LOOP: 16>>",
            "functionality": "<<LOOP: 17>>",
            "name": "<<LOOP: 18>>",
            "node": "<<LOOP: 19>>",
            "messages": "<<LOOP: 20>>",
            "message": "<<LOOP: 21>>",
            "stack": "<<LOOP: 22>>"
          }
        }
      ]
    },
    "lastNodeExecuted": "<<LOOP: 6>>"
  },
  "executionData": "<<LOOP: 3>>"
}