exec_271_resolved.json
{
  "version": 1,
  "startData": {},
  "resultData": {
    "error": {
      "level": "error",
      "tags": {},
      "cause": "={\n  \"question\": \"Classify persona for this property:\\nTitle: {{ $node[\\\"Normalization\\\"].json.title }}\\nDescription: {{ $node[\\\"Normalization\\\"].json.description }}\\nPrice: {{ $node[\\\"Normalization\\\"].json.price }}\\nAmenities: {{ $node[\\\"Normalization\\\"].json.amenities_text }}\",\n  \"overrideConfig\": {\n    \"property_id\": \"{{ $node[\\\"Normalization\\\"].json.id }}\",\n    \"tenant_id\": \"{{ $node[\\\"Normalization\\\"].json.tenant_id }}\"\n  }\n}",
      "message": "invalid syntax",
      "stack": "Error: invalid syntax\n    at Expression.renderExpression (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:476:36)\n    at Expression.resolveSimpleParameterValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:453:28)\n    at Expression.getParameterValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/src/expression.ts:654:16)\n    at ExecuteContext._getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/node-execution-context.ts:464:37)\n    at ExecuteContext.getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:134:9)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:290:36)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1659:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2302:11"
    },
    "runData": {
      "Schedule Trigger": [
        {
          "startTime": 1771990499477,
          "executionIndex": 0,
          "source": [],
          "hints": [],
          "executionTime": 5,
          "executionStatus": "success",
          "data": {
            "main": [
              [
                {
                  "json": {
                    "timestamp": "2026-02-24T22:34:59.109-05:00",
                    "Readable date": "February 24th 2026, 10:34:59 pm",
                    "Readable time": "10:34:59 pm",
                    "Day of week": "Tuesday",
                    "Year": "2026",
                    "Month": "February",
                    "Day of month": "trigger",
                    "Hour": [
                      {
                        "startTime": 1771990501538,
                        "executionIndex": 4,
                        "source": [
                          {
                            "previousNode": "SEO Generation",
                            "previousNodeOutput": 0,
                            "previousNodeRun": 0
                          }
                        ],
                        "hints": [],
                        "executionTime": 2040,
                        "executionStatus": "<<LOOP: 13>>",
                        "error": {
                          "level": "<<LOOP: 13>>",
                          "tags": "<<LOOP: 14>>",
                          "cause": "<<LOOP: 15>>",
                          "message": "<<LOOP: 16>>",
                          "stack": "<<LOOP: 17>>"
                        }
                      }
                    ],
                    "Minute": "Schedule Trigger",
                    "Second": [
                      [
                        {
                          "json": {
                            "id": "09300ab4-cd49-4347-9927-9e1d61664b71",
                            "tenant_id": "00000000-0000-0000-0000-000000000001",
                            "title": "Test Luxury Villa",
                            "description": "Beautiful beachfront property with a private pool and garden.",
                            "price": "1200000.00",
                            "parish": "St. James",
                            "bedrooms": 4,
                            "bathrooms": 3,
                            "lot_size": null,
                            "amenities": [],
                            "status": "active",
                            "assigned_agent_id": null,
                            "seo_description": null,
                            "meta_title": null,
                            "meta_description": null,
                            "buyer_persona": null,
                            "competitiveness": null,
                            "ai_processed": false,
                            "created_at": "2026-02-24T12:44:48.217Z",
                            "updated_at": "<<LOOP: 118>>"
                          },
                          "pairedItem": {
                            "item": 0
                          }
                        }
                      ]
                    ],
                    "Timezone": "America/New_York (UTC-05:00)"
                  },
                  "pairedItem": {
                    "item": 0
                  }
                }
              ]
            ]
          }
        }
      ],
      "Trigger Polling": [
        {
          "startTime": 1771990499486,
          "executionIndex": 1,
          "source": [
            {
              "previousNode": "<<LOOP: 34>>",
              "previousNodeOutput": 0,
              "previousNodeRun": 0
            }
          ],
          "hints": [],
          "executionTime": 219,
          "executionStatus": "<<LOOP: 38>>",
          "data": {
            "main": "<<LOOP: 59>>"
          }
        }
      ],
      "Normalization": [
        {
          "startTime": 1771990499706,
          "executionIndex": 2,
          "source": [
            {
              "previousNode": "Trigger Polling",
              "previousNodeOutput": 0,
              "previousNodeRun": 0
            }
          ],
          "hints": [],
          "executionTime": 4,
          "executionStatus": "<<LOOP: 38>>",
          "data": {
            "main": [
              [
                {
                  "json": {
                    "id": "<<LOOP: 110>>",
                    "tenant_id": "<<LOOP: 111>>",
                    "title": "<<LOOP: 112>>",
                    "description": "<<LOOP: 113>>",
                    "price": "<<LOOP: 114>>",
                    "parish": "<<LOOP: 115>>",
                    "bedrooms": 4,
                    "bathrooms": 3,
                    "lot_size": null,
                    "amenities": [],
                    "status": "<<LOOP: 117>>",
                    "assigned_agent_id": null,
                    "seo_description": null,
                    "meta_title": null,
                    "meta_description": null,
                    "buyer_persona": null,
                    "competitiveness": null,
                    "ai_processed": false,
                    "created_at": "<<LOOP: 118>>",
                    "updated_at": "<<LOOP: 118>>"
                  },
                  "pairedItem": {
                    "item": 0
                  }
                }
              ]
            ]
          }
        }
      ],
      "SEO Generation": [
        {
          "startTime": 1771990499712,
          "executionIndex": 3,
          "source": [
            {
              "previousNode": "Normalization",
              "previousNodeOutput": 0,
              "previousNodeRun": 0
            }
          ],
          "hints": [],
          "executionTime": 1825,
          "executionStatus": "<<LOOP: 38>>",
          "data": {
            "main": [
              [
                {
                  "json": {
                    "text": "```json\n{\n  \"seo_description\": \"Nestled in the prestigious neighborhood of St. James, this breathtaking Test Luxury Villa offers the ultimate luxury living experience. With 4 spacious bedrooms and 3 elegant bathrooms, this stunning villa is perfect for families, entertainers, and those seeking a lavish lifestyle. Priced at $1,200,000, this incredible property boasts an unbeatable combination of sophistication, comfort, and convenience. Enjoy the perfect blend of relaxation and entertainment in this exquisite villa, complete with ample space for outdoor living and breathtaking views. St. James is renowned for its beautiful beaches, world-class amenities, and vibrant community, making this villa an ideal choice for those seeking a luxurious and desirable lifestyle. Whether you're looking for a primary residence or a vacation home, this Test Luxury Villa is the epitome of luxury and refinement. Contact us today to schedule a viewing and make this extraordinary property yours.\",\n  \"meta_title\": \"St James Luxury\",\n  \"meta_description\": \"Luxury villa for sale in St James, $1.2M, 4 beds\"\n}\n```",
                    "question": "Generate SEO for this property:\nTitle: Test Luxury Villa\nLocation: St. James\nBedrooms: 4\nBathrooms: 3\nPrice: 1200000.00\nAmenities: ",
                    "chatId": "f5e4a46d-3244-43d7-890e-dca674f6beb5",
                    "chatMessageId": "eff6ac65-6bdb-489d-9128-0bd14e2e9e5f",
                    "isStreamValid": false,
                    "sessionId": {
                      "version": 1,
                      "establishedAt": 1771990499466,
                      "source": "<<LOOP: 24>>",
                      "triggerNode": {
                        "name": "<<LOOP: 34>>",
                        "type": "n8n-nodes-base.scheduleTrigger"
                      }
                    },
                    "memoryType": "Buffer Memory"
                  },
                  "pairedItem": {
                    "item": 0
                  }
                }
              ]
            ]
          }
        }
      ],
      "Persona Classification": "<<LOOP: 22>>"
    },
    "lastNodeExecuted": "Persona Classification"
  },
  "executionData": {
    "contextData": {},
    "nodeExecutionStack": [
      {
        "node": {
          "parameters": {
            "curlImport": "",
            "method": "POST",
            "url": "http://flowise:3000/api/v1/prediction/734fc77d-ecf1-47eb-bc96-2bab58862c78",
            "authentication": "none",
            "provideSslCertificates": false,
            "sendQuery": false,
            "sendHeaders": false,
            "sendBody": true,
            "contentType": "json",
            "specifyBody": "<<LOOP: 69>>",
            "jsonBody": "<<LOOP: 15>>",
            "options": {},
            "infoMessage": "<<LOOP: 65>>"
          },
          "id": "<<LOOP: 4>>",
          "name": "<<LOOP: 6>>",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.1,
          "position": [
            860,
            300
          ],
          "retryOnFail": true,
          "maxRetries": 3
        },
        "data": {
          "main": [
            [
              {
                "json": "<<LOOP: 84>>",
                "pairedItem": {
                  "item": 0
                }
              }
            ]
          ]
        },
        "source": {
          "main": "<<LOOP: 49>>"
        }
      }
    ],
    "metadata": {},
    "waitingExecution": {},
    "waitingExecutionSource": {},
    "runtimeData": "<<LOOP: 12>>"
  }
}