exec_340_raw.json
[{"version":1,"startData":"1","resultData":"2","executionData":"3"},{},{"error":"4","runData":"5","lastNodeExecuted":"6"},{"contextData":"7","nodeExecutionStack":"8","metadata":"9","waitingExecution":"10","waitingExecutionSource":"11","runtimeData":"12"},{"level":"13","tags":"14","description":"15","timestamp":1771997101294,"context":"16","functionality":"17","name":"18","node":"19","messages":"20","message":"21","stack":"22"},{"Schedule Trigger":"23","Trigger Polling":"24","Normalization":"25","SEO Generation":"26","Persona Classification":"27","Parse Results":"28","Get Competitor Prices":"29"},"Get Competitor Prices",{},["30"],{},{},{},{"version":1,"establishedAt":1771997097410,"source":"31","triggerNode":"32"},"warning",{},"Failed query: SELECT price FROM properties WHERE parish = '' AND bedrooms =  AND status = 'active' AND tenant_id = '' LIMIT 50;",{"itemIndex":0},"regular","NodeOperationError",{"parameters":"33","id":"34","name":"6","type":"35","typeVersion":2.2,"position":"36","credentials":"37"},[],"Syntax error at line 1 near \"AND\"","NodeOperationError: Syntax error at line 1 near \"AND\"\n    at parsePostgresError (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/helpers/utils.ts:123:9)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/helpers/utils.ts:267:19\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/actions/database/executeQuery.operation.ts:149:9)\n    at ExecuteContext.router (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/actions/router.ts:41:17)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/PostgresV2.node.ts:26:10)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1659:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2302:11",["38"],["39"],["40"],["41"],["42"],["43"],["44"],{"node":"45","data":"46","source":"47"},"trigger",{"name":"48","type":"49"},{"resource":"50","operation":"51","query":"52","options":"53"},"5","n8n-nodes-base.postgres",[1080,300],{"postgres":"54"},{"startTime":1771997097423,"executionIndex":0,"source":"55","hints":"56","executionTime":4,"executionStatus":"57","data":"58"},{"startTime":1771997097428,"executionIndex":1,"source":"59","hints":"60","executionTime":118,"executionStatus":"57","data":"61"},{"startTime":1771997097547,"executionIndex":2,"source":"62","hints":"63","executionTime":4,"executionStatus":"57","data":"64"},{"startTime":1771997097551,"executionIndex":3,"source":"65","hints":"66","executionTime":2707,"executionStatus":"57","data":"67"},{"startTime":1771997100261,"executionIndex":4,"source":"68","hints":"69","executionTime":780,"executionStatus":"57","data":"70"},{"startTime":1771997101042,"executionIndex":5,"source":"71","hints":"72","executionTime":220,"executionStatus":"57","data":"73"},{"startTime":1771997101263,"executionIndex":6,"source":"74","hints":"75","executionTime":46,"executionStatus":"76","error":"77"},{"parameters":"78","id":"34","name":"6","type":"35","typeVersion":2.2,"position":"79","credentials":"80"},{"main":"81"},{"main":"74"},"Schedule Trigger","n8n-nodes-base.scheduleTrigger","database","executeQuery","=SELECT price FROM properties WHERE parish = '{{ $node['Normalization'].json.parish }}' AND bedrooms = {{ $node['Normalization'].json.bedrooms }} AND status = 'active' AND tenant_id = '{{ $node['Normalization'].json.tenant_id }}' LIMIT 50;",{},{"id":"82","name":"83"},[],[],"success",{"main":"84"},["85"],[],{"main":"86"},["87"],[],{"main":"88"},["89"],[],{"main":"90"},["91"],[],{"main":"92"},["93"],[],{"main":"94"},["95"],[],"error",{"level":"13","tags":"14","description":"15","timestamp":1771997101294,"context":"16","functionality":"17","name":"18","node":"19","messages":"20","message":"21","stack":"22"},{"resource":"50","operation":"51","query":"52","options":"96"},[1080,300],{"postgres":"97"},["98"],"UiVjly5vgM3yn3AG","Postgres account",["99"],{"previousNode":"48","previousNodeOutput":0,"previousNodeRun":0},["100"],{"previousNode":"101","previousNodeOutput":0,"previousNodeRun":0},["102"],{"previousNode":"103","previousNodeOutput":0,"previousNodeRun":0},["104"],{"previousNode":"105","previousNodeOutput":0,"previousNodeRun":0},["106"],{"previousNode":"107","previousNodeOutput":0,"previousNodeRun":0},["108"],{"previousNode":"109","previousNodeOutput":0,"previousNodeRun":0},{},{"id":"82","name":"83"},["110"],["111"],["112"],"Trigger Polling",["113"],"Normalization",["114"],"SEO Generation",["115"],"Persona Classification",["116"],"Parse Results",{"json":"117","pairedItem":"118"},{"json":"119","pairedItem":"120"},{"json":"121","pairedItem":"122"},{"json":"123","pairedItem":"124"},{"json":"125","pairedItem":"126"},{"json":"127","pairedItem":"128"},{"json":"117","pairedItem":"129"},{"seo_description":"130","meta_title":"130","meta_description":"130","primary_persona":"131"},{"item":0},{"timestamp":"132","Readable date":"133","Readable time":"134","Day of week":"135","Year":"136","Month":"137","Day of month":"138","Hour":"139","Minute":"140","Second":"141","Timezone":"142"},{"item":0},{"success":true},["143"],{"success":true},{"item":0},{"text":"144","question":"145","chatId":"146","chatMessageId":"147","isStreamValid":false,"sessionId":"148","memoryType":"149"},{"item":0},{"text":"150","question":"151","chatId":"152","chatMessageId":"153","isStreamValid":false,"sessionId":"148","memoryType":"149"},{"item":0},{"item":0},"","Unknown","2026-02-25T00:24:57.052-05:00","February 25th 2026, 12:24:57 am","12:24:57 am","Wednesday","2026","February","25","00","24","57","America/New_York (UTC-05:00)",{"item":0},"It seems like you didn't provide any property details. Please provide the necessary information, such as title, location, bedrooms, bathrooms, price, and amenities, and I'll be happy to generate SEO-optimized content for the property.\n\nOnce you provide the details, I can create a JSON object with the following keys:\n\n* seo_description: A detailed description of the property, highlighting its best features and amenities.\n* meta_title: A concise and attention-grabbing title that summarizes the property.\n* meta_description: A brief summary of the property, including its key features and price.\n\nPlease provide the property details, and I'll get started on creating the SEO content.","Generate SEO for this property:\nTitle: \nLocation: \nBedrooms: \nBathrooms: \nPrice: \nAmenities: ","50b0d40b-a39d-4305-987f-39e56b5bc578","a2c2583e-4e1f-4fa8-b611-dc22f33983c0","12","Buffer Memory","```json\n{\n  \"primary_persona\": \"Unknown\",\n  \"confidence\": 0.0\n}\n```","Classify persona for this property:\nTitle: \nDescription: \nPrice: \nAmenities: ","3fa9a5f0-2ab3-4a82-b7c6-1278fd4931ad","31f82650-de4e-4b2f-9f42-252ab31cf239"]